node_modules/
dist/
build/
.env
.env.local
.DS_Store
*.log
.pnpm-store/
*.tsbuildinfo

# dotenv environment variable files
.env
.env.development
.env.test
.env.production

# temp directory
.temp
.tmp
